<h1>Listing properties</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Address</th>
    <th>City</th>
    <th>Rooms</th>
    <th>Price</th>
    <th>For sale</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.kind %></td>
    <td><%= property.address %></td>
    <td><%= property.city %></td>
    <td><%= property.rooms %></td>
    <td><%= property.price %></td>
    <td><%= property.for_sale %></td>
    <td><%= image_tag property.photo.url(:thumb) %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
